<footer class="footer" role="contentinfo">
  <div class="footer__inner">
    <div class="footer__grid">
      <div class="footer__col-brand">
        <div class="footer__brand" data-content="site.name"></div>
        <p class="footer__desc" data-content="footer.brandDescription"></p>
        <div class="footer__social">
          <a class="footer__social-link" data-content-attr-href="footer.social.twitterUrl" href="#" aria-label="Twitter">&#120143;</a>
          <a class="footer__social-link" data-content-attr-href="footer.social.instagramUrl" href="#" aria-label="Instagram">&#128247;</a>
          <a class="footer__social-link" data-content-attr-href="footer.social.linkedinUrl" href="#" aria-label="LinkedIn">in</a>
          <a class="footer__social-link" data-content-attr-href="footer.social.youtubeUrl" href="#" aria-label="YouTube">&#9654;</a>
        </div>
      </div>
      <div>
        <div class="footer__col-title" data-content="footer.col1.title"></div>
        <ul class="footer__col-links">
          <li><a class="footer__col-link" data-content="footer.col1.link1.label" data-content-attr-href="footer.col1.link1.url" href="index.html"></a></li>
          <li><a class="footer__col-link" data-content="footer.col1.link2.label" data-content-attr-href="footer.col1.link2.url" href="index.html?page=rooms"></a></li>
          <li><a class="footer__col-link" data-content="footer.col1.link3.label" data-content-attr-href="footer.col1.link3.url" href="index.html?page=amenities"></a></li>
          <li><a class="footer__col-link" data-content="footer.col1.link4.label" data-content-attr-href="footer.col1.link4.url" href="index.html?page=gallery"></a></li>
          <li><a class="footer__col-link" data-content="footer.col1.link5.label" data-content-attr-href="footer.col1.link5.url" href="index.html?page=contact"></a></li>
        </ul>
      </div>
      <div>
        <div class="footer__col-title" data-content="footer.col2.title"></div>
        <ul class="footer__col-links">
          <li><a class="footer__col-link" data-content="footer.col2.link1.label" href="index.html?page=amenities"></a></li>
          <li><a class="footer__col-link" data-content="footer.col2.link2.label" href="index.html?page=amenities"></a></li>
          <li><a class="footer__col-link" data-content="footer.col2.link3.label" href="index.html?page=amenities"></a></li>
          <li><a class="footer__col-link" data-content="footer.col2.link4.label" href="index.html?page=contact"></a></li>
          <li><a class="footer__col-link" data-content="footer.col2.link5.label" href="index.html?page=contact"></a></li>
        </ul>
      </div>
      <div>
        <div class="footer__col-title" data-content="footer.col3.title"></div>
        <ul class="footer__col-links">
          <li><a class="footer__col-link" data-content="footer.col3.link1.label" href="index.html?page=rooms"></a></li>
          <li><a class="footer__col-link" data-content="footer.col3.link2.label" href="index.html?page=rooms"></a></li>
          <li><a class="footer__col-link" data-content="footer.col3.link3.label" href="index.html?page=rooms"></a></li>
          <li><a class="footer__col-link" data-content="footer.col3.link4.label" href="index.html?page=rooms"></a></li>
          <li><a class="footer__col-link" data-content="footer.col3.link5.label" href="index.html?page=rooms"></a></li>
        </ul>
      </div>
    </div>
    <div class="footer__bottom">
      <span class="footer__copy" data-content="footer.copyright"></span>
      <div class="footer__legal">
        <a data-content="footer.privacyLabel" data-content-attr-href="footer.privacyUrl" href="#">Privacy Policy</a>
        <a data-content="footer.termsLabel"   data-content-attr-href="footer.termsUrl"   href="#">Terms of Use</a>
        <a data-content="footer.cookiesLabel" data-content-attr-href="footer.cookiesUrl" href="#">Cookie Policy</a>
      </div>
    </div>
  </div>
</footer>
